<div>
    <div class="card">
        <div class="d-flex justify-content-center">
            <img class="card-img-top item-img" src="../../assets/images/no-image.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
            <div class="d-flex justify-content-center mb-10 w-100">
                <button class="btn btn-primary" type="submit">-</button>
                <input class="form-control w-25" type="text" placeholder="Quantity">
                <button class="btn btn-primary" type="submit">+</button>
            </div>
            <div class="d-flex justify-content-center">
                <a routerLink="/cart" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
</div>