<div class="container">
    <div class="bg-white rounded p-3 row">
        <div class="col-12 col-sm-3">
            <img class="card-img-top item-img" src="../../assets/images/no-image.png" alt="Card image cap">
        </div>
        <div class="col-12 col-sm-9">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
            <p>Quantity: 5</p>
        </div>
    </div>
    <div class="bg-white rounded p-3 row mt-30">
        <div class="d-flex justify-content-between">
            <h4>Total amount: </h4>
            <h4>500</h4>
        </div>
        <div class="d-flex justify-content-center gap-4">
            <button class="btn btn-danger" type="button">Cancel order</button>
            <button routerLink="/my-orders" class="btn btn-primary" type="button">Go to my order</button>
        </div>
    </div>
</div>