<form>
    <div class="form-group mb-10">
        <label>Name: </label>
        <input type="text" class="form-control" placeholder="Enter Name">
    </div>
    <div class="form-group mb-10">
        <label>Email address: </label>
        <input type="email" class="form-control" placeholder="Enter Email">
    </div>
    <div class="form-group mb-10">
        <label>Password: </label>
        <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group mb-10">
        <label>Date of birth: </label>
        <input type="date" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>